<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819746344059-snr7edf59og96jur7564e30qr5kffne8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819746344059-snr7edf59og96jur7564e30qr5kffne8</string>
	<key>API_KEY</key>
	<string>AIzaSyAaFxetH-O3BEiS--DMgD15xVUnxQ9mGYM</string>
	<key>GCM_SENDER_ID</key>
	<string>819746344059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptocurrencyWallet</string>
	<key>PROJECT_ID</key>
	<string>cryptocurrencyapp-b5433</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptocurrencyapp-b5433.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819746344059:ios:7a46324f60d55d239a66de</string>
</dict>
</plist>